.about-section{
  display: flex;

  background-color: #111111;

  /* min-height: 100vh; */
  width: 100%;

  padding-left: 6vw;
  padding-top: 8vw;
  padding-bottom: 10vw;

  flex-direction: column;
  row-gap: 7vh;
}

.about-section__container{
  display: flex;

  width: 100%;

  justify-content: space-between;
}

.about-section__info-container{
  display: flex;

  width: 100%;

  justify-content: space-between;
}

.info-container__informations-area{
  display: flex;

  flex-direction: column;
  row-gap: 7vh;
}

.informations-area__list{
  display: flex;

  flex-direction: column;
  row-gap: 1.2vw;
}

.informations-area__list-item{
  display: flex;

  flex-direction: column;
}

.informations-area__text--size--small{
  font-family: 'Roboto';
  font-size: clamp(0.2rem, 1.2vw, 3.7rem); /* 1.2vw */

  color: #C4C4C4;
}

.informations-area__text{
  font-family: 'Roboto';
  font-size: clamp(0.5rem, 1.5vw, 4rem); /* 1.5vw */

  color: white;
}

.informations-area__button{
  background-color: #f5b63f;
  color: white;

  font-family: 'Roboto';
  font-size: clamp(0.5rem, 1vw, 4rem);

  padding: clamp(0.2rem ,0.4vw, 1rem) clamp(1rem ,1.5vw, 3rem);

  /* width: 8vw;
  height: 2vw; */

  border: 0px solid transparent;
  border-radius: 7px;
}

.info-container__figure{
  height: 100%;
}

.info-container__image{
  width: clamp(5rem, 46vw, 100rem);
}

@media(max-width: 650px){
  .info-container__figure{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

